<h1>Editing Election</h1>

<%= form_for @election do |f| %>
    <% if @election.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(@election.errors.count, 'error') %> prohibited this article from being saved:</h2>
            <ul>
                <% @election.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>
    <% if current_user.email == @election.creator %>
        <p>
            <%= f.label :title %><br />
            <%= f.text_field :title %>
        </p>
        <p>
            <%= f.label :text %><br />
            <%= f.text_area :text %>
        </p>
        <h2>Choices</h2>
        <%= f.fields_for :choices do |ff| %>
            <div>
                <%= ff.label :body %>
                <%= ff.text_field :body %>
            </div>
        <% end %>
        <p>
            <%= f.submit %>
        </p>
    <% else %>
        <p>
            You can't edit an election you don't own!
        </p>
    <% end %>
<% end %>

<%= link_to 'Back', elections_path %>
